@model IEnumerable<Heroes.Game.Player>


@{
    ViewData["Title"] = "fight";
}
<br />

@foreach (var item in Model)
{


    <a asp-area="" asp-controller="Home" asp-action="AttackArcher"><img src="~/images/Archer.png" alt="Mountain View" style="width:200px;height:250px;"></a>
    <a asp-area="" asp-controller="Home" asp-action="AttackKnight"><img src="~/images/Knight.png" alt="Mountain View" style="width:200px;height:250px;"></a>
    <a asp-area="" asp-controller="Home" asp-action="AttackDragon"><img src="~/images/Dragon.png" alt="Mountain View" style="width:200px;height:250px;"></a>
    <a asp-area="" asp-controller="Home" asp-action="AttackGryphon"><img src="~/images/Gryphon.png" alt="Mountain View" style="width:200px;height:250px;"></a><br />

    <table style="font-size:30px; padding-right:6px;">
        <tr>
            <td>
                <b>  archers :     @Html.DisplayFor(modelItem => item.PlayerArmy.Archers.Population)  </b>
            </td>

            <td>
                <b>    Knights :       @Html.DisplayFor(modelItem => item.PlayerArmy.Knights.Population) </b>
            </td>

            <td>
                <b>        Dragons :  @Html.DisplayFor(modelItem => item.PlayerArmy.Dragons.Population)  </b>
            </td>
            <td>
                <b>       Gryphons :   @Html.DisplayFor(modelItem => item.PlayerArmy.Gryphons.Population)   </b>
            </td>
</table>
    <br />
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
