@model IEnumerable<Heroes.Game.Building>


@{
    ViewData["Title"] = "Town";
}

<h2>@ViewData["Title"]</h2>
@{
    if (TempData.ContainsKey("Message"))
    {
        <p>@TempData["Message"]</p>
    }
}

@using (Html.BeginForm("Build", "Home", FormMethod.Post))
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Level</th>
                <th>Cost</th>
                <th>Build</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model)
                {
                <tr>
                    <td><img src=@("/images/" + b.FileName) style="width: 150px; height: 150px" /></td>
                    <td>@b.Name</td>
                    <td>@b.Level</td>

                    @if (b.Level != b.Maxlevel && b.Levelupcost != null)
                    {
                        <td>
                            <img src="~/images/Gold.jpeg" style="width: 30px; height: 30px;" />
                            <span>@b.Levelupcost.Gold </span>
                            <img src="~/images/Ore.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                            <span>@b.Levelupcost.Ore </span>
                            <img src="~/images/Wood.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                            <span>@b.Levelupcost.Wood </span>
                            <img src="~/images/Clay.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                            <span>@b.Levelupcost.Clay </span>
                        </td>
                    }
                    else
                    {
                        <td>
                            <img src="~/images/Gold.jpeg" style="width: 30px; height: 30px;" />
                            <span>- </span>
                            <img src="~/images/Ore.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                            <span>- </span>
                            <img src="~/images/Wood.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                            <span>- </span>
                            <img src="~/images/Clay.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                            <span>- </span>
                        </td>
                    }
                    <td>
                        <button name="submit" type="submit" class="btn btn-default" value=@b.Name>
                            @if (b.Level > 0)
                            { <span>Upgrade</span>}
                            else
                            { <span>Build</span>}

                        </button>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <h3>Troops</h3>
    @using (Html.BeginForm("Recruit", "Home", FormMethod.Post))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Troops available</th>
                    <th>Max</th>
                    <th>Cost</th>
                    <th>Recruitment</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var b in Model.OfType<Heroes.Game.CreaturesDwelling>())
                {
                    if (b.Level > 0)
                    {
                        <tr>
                            <td><img src=@("/images/" + b.CreatureFileName) style="width: 150px; height: 150px" /></td>
                            <td>@b.CreatureName</td>
                            <td>@b.Actualamount.Troops</td>
                            <td>@b.Capacity.Troops</td>

                            <td>
                                <img src="~/images/Gold.jpeg" style="width: 30px; height: 30px;" />
                                <span>@b.RecruitmentCost.Gold </span>
                                <img src="~/images/Ore.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                                <span>@b.RecruitmentCost.Ore </span>
                                <img src="~/images/Wood.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                                <span>@b.RecruitmentCost.Wood </span>
                                <img src="~/images/Clay.jpg" style="width: 30px; height: 30px; margin-left: 10px;" />
                                <span>@b.RecruitmentCost.Clay </span>
                            </td>
                            <td><input class="form-control" name=@b.CreatureName type="number" min="0" max=@b.Actualamount.Troops value="0" /></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
